<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/home"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/add"><span class="glyphicon glyphicon-user"></span> add a person</a>
      </li>
      <li>
        <a href="/del"><span class="glyphicon glyphicon-user"></span> delete a person</a>
      </li>
      <li>
        <a href="/upd"><span class="glyphicon glyphicon-user"></span> update a person</a>
      </li>
      <li>
        <a href="/database"><span class="glyphicon glyphicon-user"></span> check all data in table</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/mainpage"><span class="glyphicon glyphicon-book"></span> go to display page</a>
      </li>
    </ul>
  </div>
</nav>
