<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <% include ../partials/header.ejs %>
</head>
<% include ../partials/nav.ejs %>
<body>
  <div class="container">

  <a href="/add">A-----add a new person</a><br>
  <a href="/del">D-----delete a person</a><br>
  <a href="/upd">U-----update a person</a><br>
  <a href="/database">G-----go to database</a><br>
</div>
</body>

</html>
