<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <% include ../partials/header.ejs %>
</head>
<% include ../partials/nav.ejs %>
<body>
  <div class="container">
    This is an assignment for CMPT 276 E1 Assignment 2.<br>
    Function provided is following or you can click on the navgation bar above.<br>
  <a href="/add">A-----add a new person</a><br>
  <a href="/del">D-----delete a person</a><br>
  <a href="/upd">U-----update a person</a><br>
  <a href="/database">G-----go to database</a><br>
  <a href="/mainpage">G-----go to display page</a><br>
  student name: Liangsong Wang <br>
  student id  : 301388614 <br>
  email       : <a href = "mailto: lwa115@sfu.ca">lwa115@sfu.ca</a> <br>
</div>
</body>

</html>
